<?xml version="1.0" encoding="utf-8"?>
<config>
  <rect name="ManifestPosition">
    <xmin>0</xmin>
    <xmax>0</xmax>
    <ymin>0</ymin>
    <ymax>0</ymax>
  </rect>
  <rect name="TransferPosition">
    <xmin>0</xmin>
    <xmax>0</xmax>
    <ymin>0</ymin>
    <ymax>0</ymax>
  </rect>
  <rect name="RosterPosition">
    <xmin>0</xmin>
    <xmax>0</xmax>
    <ymin>0</ymin>
    <ymax>0</ymax>
  </rect>
  <rect name="SettingsPosition">
    <xmin>0</xmin>
    <xmax>0</xmax>
    <ymin>0</ymin>
    <ymax>0</ymax>
  </rect>
  <rect name="DebuggerPosition">
    <xmin>0</xmin>
    <xmax>0</xmax>
    <ymin>0</ymin>
    <ymax>0</ymax>
  </rect>
  <bool name="ShowDebugger">0</bool>
  <bool name="RealismMode">1</bool>
  <bool name="LockRealismMode">0</bool>
  <bool name="VerboseLogging">0</bool>
  <bool name="AutoSave">0</bool>
  <double name="SaveIntervalSec">180</double>
  <double name="FlowRate">100</double>
  <double name="MinFlowRate">0</double>
  <double name="MaxFlowRate">100</double>
  <string name="PumpSoundStart">ShipManifest/Sounds/59328-1</string>
  <string name="PumpSoundRun">ShipManifest/Sounds/59328-2</string>
  <string name="PumpSoundStop">ShipManifest/Sounds/59328-3</string>
  <double name="PumpSoundVol">3</double>
  <string name="CrewSoundStart">ShipManifest/Sounds/14214-1</string>
  <string name="CrewSoundRun">ShipManifest/Sounds/14214-2</string>
  <string name="CrewSoundStop">ShipManifest/Sounds/14214-3</string>
  <double name="CrewSound1Vol">3</double>
  <string name="SourcePartColor">red</string>
  <string name="TargetPartColor">green</string>
  <string name="TargetPartCrewColor">blue</string>
  <bool name="EnableScience">1</bool>
  <bool name="EnableCrew">1</bool>
  <bool name="EnablePFResources">1</bool>
  <bool name="EnableCLS">1</bool>
  <string name="DebugLogPath">Plugins\PluginData\</string>
  <double name="IVATimeDelaySec">5</double>
  <bool name="ShowIVAUpdateBtn">0</bool>
  <bool name="AutoDebug">0</bool>
  <bool name="EnableTextureReplacer">0</bool>
</config>
