<?xml version="1.0" encoding="utf-8"?>
<config>
  <rect name="ManifestPosition">
    <xmin>0</xmin>
    <xmax>0</xmax>
    <ymin>0</ymin>
    <ymax>0</ymax>
  </rect>
  <rect name="TransferPosition">
    <xmin>0</xmin>
    <xmax>0</xmax>
    <ymin>0</ymin>
    <ymax>0</ymax>
  </rect>
  <rect name="RosterPosition">
    <xmin>0</xmin>
    <xmax>0</xmax>
    <ymin>0</ymin>
    <ymax>0</ymax>
  </rect>
  <rect name="SettingsPosition">
    <xmin>0</xmin>
    <xmax>0</xmax>
    <ymin>0</ymin>
    <ymax>0</ymax>
  </rect>
  <rect name="ControlPosition">
    <xmin>0</xmin>
    <xmax>0</xmax>
    <ymin>0</ymin>
    <ymax>0</ymax>
  </rect>
  <rect name="DebuggerPosition">
    <xmin>0</xmin>
    <xmax>0</xmax>
    <ymin>0</ymin>
    <ymax>0</ymax>
  </rect>
  <bool name="ShowDebugger">0</bool>
  <bool name="RealismMode">1</bool>
  <bool name="LockSettings">0</bool>
  <bool name="VerboseLogging">0</bool>
  <bool name="AutoSave">0</bool>
  <double name="SaveIntervalSec">60</double>
  <double name="FlowRate">100</double>
  <double name="MinFlowRate">0</double>
  <double name="MaxFlowRate">1000</double>
  <int name="MaxFlowTimeSec">180</int>
  <string name="PumpSoundStart">ShipManifest/Sounds/59328-1</string>
  <string name="PumpSoundRun">ShipManifest/Sounds/59328-2</string>
  <string name="PumpSoundStop">ShipManifest/Sounds/59328-3</string>
  <double name="PumpSoundVol">3</double>
  <string name="CrewSoundStart">ShipManifest/Sounds/14214-1</string>
  <string name="CrewSoundRun">ShipManifest/Sounds/14214-2</string>
  <string name="CrewSoundStop">ShipManifest/Sounds/14214-3</string>
  <double name="CrewSoundVol">3</double>
  <string name="SourcePartColor">red</string>
  <string name="TargetPartColor">green</string>
  <string name="TargetPartCrewColor">blue</string>
  <string name="HatchOpenColor">blue</string>
  <string name="HatchCloseColor">red</string>
  <string name="PanelExtendedColor">green</string>
  <string name="PanelRetractedColor">red</string>
  <bool name="EnableHighlighting">1</bool>
  <bool name="OnlySourceTarget">0</bool>
  <bool name="EnableCLSHighlighting">1</bool>
  <bool name="EnableCrew">1</bool>
  <bool name="EnableScience">1</bool>
  <bool name="EnableResources">1</bool>
  <bool name="EnablePFResources">1</bool>
  <bool name="EnableCLS">1</bool>
  <bool name="OverrideStockCrewXfer">1</bool>
  <string name="DebugLogPath">Plugins\PluginData\</string>
  <double name="IVATimeDelaySec">7</double>
  <bool name="ShowIVAUpdateBtn">0</bool>
  <bool name="AutoDebug">1</bool>
  <string name="ErrorLogLength">1000</string>
  <bool name="SaveLogOnExit">0</bool>
  <bool name="EnableKerbalRename">0</bool>
  <bool name="RenameWithProfession">0</bool>
  <bool name="EnableTextureReplacer">0</bool>
  <bool name="EnableBlizzyToolbar">0</bool>
  <bool name="ShowToolTips">1</bool>
  <bool name="ManifestToolTips">1</bool>
  <bool name="TransferToolTips">1</bool>
  <bool name="SettingsToolTips">1</bool>
  <bool name="RosterToolTips">1</bool>
  <bool name="HatchToolTips">1</bool>
  <bool name="PanelToolTips">1</bool>
  <bool name="AntennaToolTips">1</bool>
  <bool name="LightToolTips">1</bool>
  <bool name="DebuggerToolTips">1</bool>
</config>